<h1>Login</h1>

<form ngForm #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <p>
    <label for="login">Login</label><br>
    <input
      type="text" id="login" name="login"
      required
      [(ngModel)] = "user.login" #login="ngModel"
    />
  </p>
  <p>
    <label for="pwd">Password</label><br>
    <input
      type="password" name="password" id="pwd"
      required
      [(ngModel)] = "user.password"
    />
  </p>
  <p>
    <button
      [disabled] = "loginForm.form.invalid"
    >
      Login
    </button>
  </p>
</form>


<pre>{{user | json}}</pre>
<pre>login.valid: {{login.valid}}/{{login.touched}}/{{login.dirty}}</pre>
