<h1>Trackings</h1>

<table>
    <tr>
        <th>Project</th>
        <th>Title</th>
        <th>Start</th>
        <th>End</th>
    </tr>
    <tr *ngFor="let tracking of trackings">
        <td>{{tracking.project}}</td>
        <td>{{tracking.title}}</td>
        <td>{{tracking.start}}</td>
        <td>{{tracking.end}}</td>
    </tr>
</table>